snippet label "Label template for .vimrc"
" -----------------------------------------------------------------
" Label | Description
" -----------------------------------------------------------------
endsnippet
